html {
    height: 100%;
    position: relative;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    position: relative;
}

p {
    margin: 0;
    font-size: 1rem;
    font-family: 'Poppins';

}

footer {
    display: inline-block;
    text-align: center;
    height: 15%;
    width: 100%;
    background-color: black;
    color: white;


}

iframe {
    width: 100%;
    height: 100%;
}

/*---------------menu--------------*/
nav {
    overflow: hidden;
    position: fixed;
    width: 100%;
    z-index: 2;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #322E2E;
}

li {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #1A1515;
}

/*-------------------section generalt-----------------*/

section {
    display: block;
    background: #F8F8F8;
    height: 100%;
}

/*-------------------section 01-----------------*/
#et {
    background-image: url(billeder/1.0.2.jpg);
    background-size: cover;

}

#et img {
    display: block;
    z-index: 1;
    width: 40rem;
    position: relative;
    left: 15rem;
    top: 25rem;
    animation: fade ease 5s;
    -webkit-animation: fade ease 5s;
    -moz-animation: fade ease 5s;
    -o-animation: fade ease 5s;
    -ms-animation: fade ease 5s;
}


@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-o-keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-ms-keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


/*-------------------section 02-----------------*/
#to {
    background-color: white;
    display: flex;
    flex-direction: column;


}

.citat p {
    margin: 15rem 4rem 0 4rem;
    font-size: 3rem;
    text-align: center;

}

.knap {
    display: flex;
    margin-top: 10rem;
    justify-content: center;
}

button {

    height: 10vh;
    width: 30vh;
    border-radius: 1rem;
    background-color: #322E2E;
    font-size: 1.5rem;
    font-family: 'Raleway';
    color: white;
    cursor: pointer;
}

button a:hover {
    background-color: #1A1515;
}

/*-------------------section 03(video)-----------------*/
#tre p {
    font-size: 20rem;
    text-align: center;
}

/*-------------------section 04-----------------*/
#fire {
    background-color: white;
}





/*--------------------event side--------------------*/
.eventkalender {

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 2remm;
}

.grid .kort {
    position: relative;
    width 350px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;

}

.kort {
    width: 4rem;
}
