html {
    height: 100%;
    position: relative;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    position: relative;
}

p {
    margin: 0;
    font-size: 1rem;
    font-family: 'Poppins';

}


/*---------------menu--------------*/
nav {
    overflow: hidden;
    position: fixed;
    width: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #322E2E;
}

li {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #1A1515;
}

/*-------------------section generalt-----------------*/

section {
    display: block;
    background: #F8F8F8;
    height: 100%;
}

/*-------------------section 01-----------------*/
#et {
    background-image: url(billeder/1.0.2.jpg);
    background-size: cover;
}

.Logo {}

/*-------------------section 02-----------------*/
#to {
    background-color: white;
    display: flex;
    flex-direction: column;


}

.citat p {
    margin-top: 50vh;
    margin: 120px;
    font-size: 3rem;
}

.knap {
    display: flex;
    margin-top: 10vh;
    justify-content: center;
}

button {

    height: 10vh;
    width: 30vh;
    border-radius: 1rem;
    background-color: #322E2E;
    font-size: 1.5rem;
    font-family: 'Raleway';
    color: white;
}

button a:hover {
    background-color: #1A1515;
}

/*-------------------section 03-----------------*/
#tre p {}

/*-------------------section 04-----------------*/
#fire {
    background-color: white;
}
